<section class="info_section layout_padding-top">

  <div class="info_logo-box">

    <h2>9jastay</h2>

  </div>

  <div class="container layout_padding2">

    <div class="row">

      <div class="col-md-4">

        <h5>About</h5>

        <p>
          9jastay helps you discover and book verified accommodation across Nigeria.
        </p>

      </div>


      <div class="col-md-4">

        <h5>Links</h5>

        <ul>

          <li><a href="/">Home</a></li>
          <li><a href="?page=feature">Features</a></li>
          <li><a href="?page=contact">Contact</a></li>
          <li><a href="?page=about">About</a></li>
          <li><a href="?page=privacy">Privacy Policy</a></li>
          <li><a href="?page=terms">Terms</a></li>

          <li><a href="?page=proposal">Vendor Proposal</a></li>


        </ul>

      </div>


      <div class="col-md-4">

        <h5>Contact</h5>

        <p>
          Email: support@9jastay.com
        </p>

      </div>

    </div>

  </div>

</section>



<section class="container-fluid footer_section">

  <p>
    © 2026 9jastay. All Rights Reserved
  </p>

</section>



<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.js"></script>

<script>

  function openNav() {

    document.getElementById("myNav").classList.toggle("menu_width");

    document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style");

  }

</script>

</body>

</html>